/*-----Couse Homepage Stylesheet------*/
body{
    background-color: lightpink;
    background-image: url(https://static.vecteezy.com/system/resources/previews/010/839/386/original/aesthetic-minimal-cute-pastel-pink-wallpaper-illustration-perfect-for-wallpaper-backdrop-postcard-background-banner-vector.jpg);
}

/* Id Selector */

#main-heading{
    color:#e1a0b3;
    text-align: center;
}

/* Class Selector */

.primary{
    border: 10px solid;
    padding: 20px;
    color: #e1a0b3;
}

.list{ 
    margin-left: 570px;
}


/* -- psuedo selector ---*/

a:link{
    color:beige; 
}
