html {
    box-sizing: border-box;
  }
  *
  *:before,
  *:after {
    box-sizing: inherit;
  }

form{
    display: inline-block;
    width: 650px;
    text-align: left;
    padding: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 5px;
}

.formlabel{
  text-align: right;
}